build/
cmake-build-debug/
.idea/
Abstract/abstract.log
Abstract/abstract.aux
demos/demoBellmanFord/build/
demos/demoDijkstra/build/
demos/demoDag/build/
tags
.ycm_extra_conf.py
compile_commands.json
html/*
latex/*
